{% extends 'base.html' %}

{% block content %}
    <h1> Hello, world! </h1>
    {% if user.is_authenticated %}
        {% if user.role == user.STUDENT %}
            <p> hi student {{ user.first_name }} {{ user.last_name }}</p>
            <p><a href="{% url 'student:main' user.slug %}"> Go to your profile </a></p>
        {% else %}
            <p> hi teacher {{ user.first_name }} {{ user.last_name }} </p>
            <p><a href="{{ user.get_absolute_url }}"> Go to your profile </a></p>
        {% endif %}


    {% else %}
    <a href="{% url 'login' %}"> Log In </a> or <a href="{% url 'signup' %}"> Sign Up </a> to create your account and use our Gradebook

    {% endif %}
{% endblock %}