{% extends "base.html" %}

{% block content %}


<style type="text/css">
    table {
      border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 5px;
    }
</style>

<h1> Students' grades </h1>
<h2> Class: {{course}} </h2>
<h2> Subject: {{subject}} </h2>


<form method="POST">
    {% csrf_token %}
    {{ task_form }}
<input type="submit" name="add_task" value = "Add"/>
</form>

<br>

<form method="POST">
    {% csrf_token %}

    {{ formset.management_form }}

    
    <table> 


        <tr>
            <th> № </th>
            <th> Student </th>
            {% for task in task_list %}
            <th> {{task}} </th>
            {% endfor %}
        </tr>
        


        {% for student in student_list %}

        <tr> 
            <td> {{ forloop.counter }}. </td>
            
            <td> {{ student}} </td>


            {% for i in task_list %}
                <td> {{form.grade}}</td>
            {% endfor %}
        </tr>
        {% endfor %}

     
    </table>


<br>
<input type="submit" name="add_grade" value = "Save"/>
</form> 

<p> <a href="{% url 'teacher:student_edit' user.slug course.id %}"> Add or edit student list in class: {{course}} </a> </p> 

{% endblock %}

