{% extends "base.html" %}

{% block content %}

<h1> Hi teacher {{user.first_name}} {{user.last_name}} </h1>

<p> Your subjects and classes </p>

{% if subject_list %}
<ul>
    {% for subject in subject_list %}
        <li> {{subject}} | <a href="{% url 'teacher:subject_update' subject.id %}"> Update 
            | <a href="{% url 'teacher:subject_delete' subject.id %}"> Delete </a> </li>
            <ul>
                {% for course in subject.courses_of_subject %}
                    <li> {{course}} | <a href="{% url 'teacher:course_update' subject.id course.id %}"> Update 
                    | <a href="{% url 'teacher:course_delete' subject.id course.id %}"> Delete </a> 
                    <br> <a href="{% url 'teacher:student_list' course.id %}"> See students </a>
                </li>
                {% endfor %} 
            </ul>
            <br>

    {% endfor %}
</ul>

{% else %}
    <p> Please add subjects and classes you are teaching to get started </p>

{% endif %}


<p> <a href="{% url 'teacher:subject_add' %}"> Add subjects </a>  </p>

<p> <a href="{% url 'teacher:course_add' %}"> Add classes </a>  </p>


{% endblock %}