{% extends "base.html" %}

{% block content %}

<h1> Hi teacher {{user.first_name}} {{user.last_name}} </h1>

<p> Your subjects and classes </p>

{% if subject_list %}
<ul>
    {% for subject in subject_list %}
        <li> {{subject}} | <a href="{{user.get_absolute_url}}{{subject.get_absolute_url}}update"> Update </a>
            | <a href="{{user.get_absolute_url}}{{subject.get_absolute_url}}delete"> Delete </a> </li>
            <ul>
                {% for course in subject.courses_of_subject %}
                    <li> {{course}} | 
                        <a href="{{user.get_absolute_url}}{{subject.get_absolute_url}}{{course.get_absolute_url}}update"> Update </a>
                    | <a href="{{user.get_absolute_url}}{{subject.get_absolute_url}}{{course.get_absolute_url}}delete"> Delete </a> 
                    <br> <a href="{{user.get_absolute_url}}{{subject.get_absolute_url}}{{course.get_absolute_url}}gradebook">
                        Go to a Gradebook </a>
                </li>
                {% endfor %} 
            </ul>
            <br>

    {% endfor %}
</ul>

{% else %}
    <p> Please add subjects and classes you are teaching to get started </p>

{% endif %}


<p> <a href="{% url 'teacher:subject_add' user.slug %}"> Add subjects </a>  </p>

<p> <a href="{% url 'teacher:course_add' user.slug %}"> Add classes </a>  </p>


{% endblock %}