{% extends "base.html" %}

{% block content %}

<h1> Edit student list in class {{course}} </h1>

<form method="POST">

{% csrf_token %}
{{ formset.management_form }}
{% for form in formset %}
    <div class="form-group">
    {% if form.instance.id %}
        <p> {{form}} <a href="{{user.get_absolute_url}}{{course.get_absolute_url}}student/{{form.instance.id}}/delete"> Delete </a> {{form.instance.id }} </p>
    {% else %}
        <p> {{form}}
    </div> 
    {% endif %}
{% endfor %}



<input type="submit" value="Save">

</form>
{% endblock %}